*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 1200px;
    height: 1000px;
    background: #6d2929;
    margin: 20px auto;
}

.col1, .col2, .col3{
    float: left;
}

.col1, .col3{
    width: 300px;
    height: 1000px;
    background-color: #fff;
}

.col2{
    width: 600px;
    height: 1000px;
    background-color: #fff;
}

.codigobarras{
    width: 100%;
    height: 50px;
    background-color: #00897B;
}

.cod-b{
    position: relative;
    top: 10px;
    left: 10px;
}

.table{
    width: 100%;
    height: 500px;
    background-color: #26A69A;
}

/*col3*/
.card-total{
    width: 300px;
    height: 300px;
    position: relative;
    top: 150px;
    background-color: #fff;
}

.card-box{
    width: 250px;
    height: 250px;
    position: relative;
    top: 25px;
    left: 25px;
    background-color: mediumspringgreen;
    border-radius: 20px;
}

.card-titulo{
    width: 100%;
    height: 100px;
    position: relative;
    top: 50px;
}

.p-titulo{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.p-total{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 25px;
}

.row{
    padding-top: 10px;
}

.row-t{
    width: 550px;
    height: 50px;
    position: relative;
    left: 20px;
    border-radius: 20px;
    background-color: white;
}

.col-t1, .col-t2, .col-t3{
    float: left;
    height: 50px;
}

.col-t1{
    width: 250px;
}

.col-t2{
    width: 150px;
}

.col-t3{
    width: 150px;
}

.p-marca, .p-descripcion, .p-precio, .p-subtotal{
    position: relative;
    top: 5px;
    font-family: sans-serif;
    color: #26A69A;
}

.p-precio, .p-subtotal{
    font-size: xx-large;
    text-align: center;
}

.p-marca{
    font-size: 18px;
    position: relative;
    left: 10px;
}

.p-descripcion{
    text-align: center;
}

.p-cantidad{
    width: 10px;
    height: 10px;
    background-color: #26A69A;
    border-radius: 10px;
    color: white;
}