.topper{
    position: relative;
    height: 55px;
}

.box-articulo{
    position: relative;
    width: 905px;
    height: 105px;
    border-bottom: 1px solid darkcyan;
    background-color: white;
}

.c1, .c2, .c3, .c4{
    position: relative;
    float: left;
}

.c1{
    width: 400px;
    height: 100px;
    background-color: white;
}

.c2{
    width: 200px;
    height: 100px;
    background-color:white;
}

.c3{
    width: 200px;
    height: 100px;
    background-color: white;
}

.c4{
    width: 100px;
    height: 100px;
}

p{
    font-family: sans-serif;
    color: black;
}


.box-c1{
    position: relative;
    width: 400px;
    height: 50px;
}

.box-c2, .box-c3{
    position: relative;
    width: 200px;
    height: 50px;
}


.box-marca{
    position: relative;
    width: 400px;
    height: 50px;
    background-color: white;
    float: left;
}

.box-cantidad{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: white;
    float: left;
}

.box-descripcion{
    position: relative;
    width: 400px;
    height: 50px;
    background-color: white;
}

.box-c4{
    position: relative;
    width: 100px;
    height: 100px;
    padding-top: 5px;
}

.box-c4t, .box-c4m, .box-c4b{
    position: relative;
    width: 100px;
    height: 30px;
    color: white;
}

.p-sumar, .p-restar, .p-eliminar{
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    background-color: tomato;
    color: whitesmoke;
}

.p-sumar:hover, .p-restar:hover, .p-eliminar:hover{
    background-color: teal;
}

.p-marca{
    text-align: center;
    font-size: xx-large;
}

.p-descripcion{
    text-align: center;
    font-size: medium;
}

.p-precionegocio, .p-subtotal, .p-cantidad{
    text-align: center;
    font-size: xx-large;
}

.p-subtitulo{
    text-align: center;
}

.footer{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    background-color: crimson;
}

.p-total{
    color: white;
    font-size: xx-large;
    text-align: center;
}

.foo-input{
    position: relative;
    width: 50%;
    height: 50px;
    float: left;
}

.foo-total{
    position: relative;
    width: 50%;
    height: 50px;
    float: left;
}

.cod-barras{
    position: relative;
    float: right;
    right: 200px;
    top: 7px;
}

#esta-producto{
    position: fixed;
    width: 100%;
    top:50px;
}

.p-flash{
    padding-top: 10px;
    text-align: center;
}
