<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Carga datos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <form action="/cargadatos" method="POST" id="form">
                    <div class="form-group">
                      <label for="cod-barras">Codigo Barras</label>
                      <input type="text" class="form-control" id="cod-barras" name="cod" autocomplete="off">
                      <div class="alert alert-danger" role="alert" id="esta-producto">
                        El producto ya se encuentra en su base de datos.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="marca">Marca</label>
                      <input type="text" class="form-control no-submit" id="marca" name="marca" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control no-submit" id="descripcion" name="descripcion" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="valormayorista">Valor mayorista</label>
                        <input type="text" class="form-control no-submit" id="valormayorista" name="valormayorista" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="valornegocio">Valor negocio</label>
                        <input type="text" class="form-control no-submit" id="valornegocio" name="valornegocio" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit">Agregar</button>
                    <div class="alert alert-success" role="alert" id="operacion-ok">
                        Los datos han sido cargados con exito.
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
        
    

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<script>
    $(document).ready(function(){

        var cont = 0

        //flash oculto
        $('#esta-producto').hide()
        $('#operacion-ok').hide()

        $('#form').submit(function(e){
            e.preventDefault()
            cargarEnLaBaseDatos()
        })

        $("#cod-barras").keypress(function(e) {
            //no recuerdo la fuente pero lo recomiendan para
            //mayor compatibilidad entre navegadores.
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code==13){
                e.preventDefault()
                verificaCodigoBarras()
            }
        })

        $("#marca").keypress(function(e) {
            //no recuerdo la fuente pero lo recomiendan para
            //mayor compatibilidad entre navegadores.
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code==13){
                e.preventDefault()
                $('#descripcion').focus()
            }
        })

        $("#descripcion").keypress(function(e) {
            //no recuerdo la fuente pero lo recomiendan para
            //mayor compatibilidad entre navegadores.
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code==13){
                e.preventDefault()
                $('#valormayorista').focus()
            }
        })

        $("#valormayorista").keypress(function(e) {
            //no recuerdo la fuente pero lo recomiendan para
            //mayor compatibilidad entre navegadores.
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code==13){
                e.preventDefault()
                $('#valornegocio').focus()
            }
        })

        $("#valornegocio").keypress(function(e) {
            //no recuerdo la fuente pero lo recomiendan para
            //mayor compatibilidad entre navegadores.
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code==13){
                e.preventDefault()
                $('#submit').focus()
          }
        })

        function verificaCodigoBarras() { 
            var valor = $("#cod-barras").val();
            $.ajax({
                type: 'POST', 
                url:  '/verificar',
                data: 'cod='+valor,
                success: function(response){
                    if (response.rta){
                        $('#esta-producto').fadeTo(2000, 500).slideUp(500, function(){
                            $('#esta-producto').slideUp(1000)
                        })
                        $('#cod-barras').val('')
                    }
                    else{
                        $('#marca').focus()
                    }
                }
            })
        }

    function cargarEnLaBaseDatos() { 
        $.ajax({
            type: 'POST', 
            url:  '/cargadatos',
            data: $('#form').serialize(),
            success: function(response){
                $('#operacion-ok').fadeTo(2000, 500).slideUp(500, function(){
                    $('#operacion-ok').slideUp(1000)
                })
                $('#cod-barras').val('')
                $('.no-submit').val('')
                $('#cod-barras').focus()
            }
        });
    }
})
</script>
</html>