<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/clientes.css">
    <title>Lista de clientes</title>
</head>
<body>
    <div class="contenedor">
        <input type="text" id="myInput" onkeyup="myFunction()">
        <ol id="lista2">
            {% for usuario in listaUsuarios %}
            <li><p>{{ usuario.cliente.nombre }}<span>${{ usuario.cliente.deuda }}</span></p></li>
            {% endfor %}
        </ol>
    </div>
    
</body>

<script>
    
    ul = document.getElementById("lista2");
    li = ul.getElementsByTagName("li");
    
    
    function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("lista2");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("p")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }


}
</script>
</html>