<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title> {{ titulo }}</title>
</head>
<body>
    <div class="contenedor-principal">
        <div class="col1">
            <div class="form">
                <form action="/producto" method="POST">
                    <div class="box">
                        <div class="box-contenedor">
                            <div class="box-titulo">
                                <p class="p-titulo">CLIENTE</p>
                            </div>
                            <div class="box-input">
                                <input class="input" type="text" name="cliente">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-contenedor">
                            <div class="box-titulo">
                                <p class="p-titulo">DEUDA</p>
                            </div>
                            <div class="box-input">
                                <input class="input" type="text" name="precio">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <button class="btn" type="submit">AGREGAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>